{% extends 'layout.html' %}

{% block pageTitle %}
  NHS Medical Examiner Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}



<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        <h1 class="nhsuk-heading-l">Login password reset</h1>

          <div class="nhsuk-u-margin-top-9">
            <p>We have sent password reset instructions by email to:</p>
            <p><b>xxx@nhs.uk</b></p>
          </div>

        </div>
      </div>
      <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="login">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back to sign in</a>
        </div>

    </div>
</div>


{% endblock %}