{% extends 'layout.html' %}

{% block pageTitle %}
  NHS Medical Examiner Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<section class="nhsuk-section nhsuk-section--white">

  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">

          <h2>Welcome to the Medical Examiner Service</h2>

          <div class="nhsuk-u-margin-top-9">
            <div class="nhsuk-form-group">
              <input class="nhsuk-input" id="login_email" name="login_email" type="text" placeholder="Enter email"
                required="required">
            </div>
            <div class="nhsuk-form-group">
              <button class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit">
                Reset password
              </button>
            </div>
            <div class="nhsuk-form-group">
              <a href="/login">Back to sign in</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
{% endblock %}