{% include "includes/patient-details/_header.html" %}

<section style="background:#fff;">

  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">

      <h2 class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3">Patient details</h2>
      <h3 class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-6">Primary information</h3>

      {% include "includes/_person.html" %}

    </div>
  </div>

</section>

<section>

  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">

      <h3>Secondary information</h3>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="search_postcode">
              Postcode of residential address
            </label>
            <input class="nhsuk-input" id="search_postcode" name="search_postcode" type="text">
          </div>
          <button class="nhsuk-button">
            Find address
          </button>
          <div class="nhsuk-u-margin-top-0">
            <a data-show="#address-box" class="js-link">I don't know the postcode</a>
          </div>
        </div>
      </div>

      <div id="address-box" class="hide">
        <div class="nhsuk-grid-row nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
          <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="address_building">
                Building and street
              </label>
              <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="address_building" name="address_building" type="text">
              <input class="nhsuk-input" id="address_street" name="address_street" type="text">
            </div>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="address_town">
                Town or city
              </label>
              <input class="nhsuk-input" id="address_town" name="address_town" type="text">
            </div>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="address_county">
                County
              </label>
              <input class="nhsuk-input" id="address_county" name="address_county" type="text">
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="relevant_occupation">
              Relevant occupation
            </label>
            <span class="nhsuk-hint">
              Add any information about the patient's work history that could of contributed to their death
            </span>
            <textarea class="nhsuk-textarea" id="relevant_occupation" name="relevant_occupation" rows="5"></textarea>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="organisation_responsible">
              Organisation responsible for care prior to death
            </label>
            <input class="nhsuk-input" id="organisation_responsible" name="organisation_responsible" type="text">
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend">
                Funeral arrangements
              </legend>
              <div class="nhsuk-radios">
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-quarter">
                    <div class="nhsuk-radios__item nhsuk-u-margin-bottom-2">
                      <input class="nhsuk-radios__input" id="funeral_arrangements_cremation" name="funeral_arrangements"
                        type="radio" value="cremation">
                      <label class="nhsuk-label nhsuk-radios__label" for="funeral_arrangements_cremation">
                        Cremation
                      </label>
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-quarter">
                    <div class="nhsuk-radios__item nhsuk-u-margin-bottom-2">
                      <input class="nhsuk-radios__input" id="funeral_arrangements_buried_at_sea" name="funeral_arrangements"
                        type="radio" value="buried_at_sea">
                      <label class="nhsuk-label nhsuk-radios__label" for="funeral_arrangements_buried_at_sea">
                        Buried at sea
                      </label>
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-quarter">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="funeral_arrangements_burial" name="funeral_arrangements"
                        type="radio" value="burial">
                      <label class="nhsuk-label nhsuk-radios__label" for="funeral_arrangements_burial">
                        Burial
                      </label>
                    </div>
                  </div>
                </div>
                <div class="nhsuk-grid-row">
                  <div class="nhsuk-grid-column-one-quarter">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="funeral_arrangements_repatriation" name="funeral_arrangements"
                        type="radio" value="repatriation">
                      <label class="nhsuk-label nhsuk-radios__label" for="funeral_arrangements_repatriation">
                        Repatriation
                      </label>
                    </div>
                  </div>
                  <div class="nhsuk-grid-column-one-quarter">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="funeral_arrangements_unknown" name="funeral_arrangements"
                        type="radio" value="repatriation">
                      <label class="nhsuk-label nhsuk-radios__label" for="funeral_arrangements_unknown">
                        Unknown
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend">
                Does the patient have any devices implanted that could cause issues at cremation?
              </legend>
              <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="cremation_issues_yes" name="cremation_issues" type="radio"
                    value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="cremation_issues_yes">
                    Yes
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="cremation_issues_no" name="cremation_issues" type="radio"
                    value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="cremation_issues_no">
                    No
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="cremation_issues_unknown" name="cremation_issues" type="radio"
                    value="unknown">
                  <label class="nhsuk-label nhsuk-radios__label" for="cremation_issues_unknown">
                    Unknown
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="nhsuk-form-group nhsuk-form-group--hidden">
            <label class="nhsuk-label" for="cremation_issues_details">
              Enter details below
            </label>
            <textarea class="nhsuk-textarea" id="cremation_issues_details" name="cremation_issues_details" rows="5"></textarea>
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="funeral_directors">
              Funeral directors
            </label>
            <input class="nhsuk-input" id="funeral_directors" name="funeral_directors" type="text">
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend">
                Personal effects
              </legend>
              <span class="nhsuk-hint">
                Is there any property to collect from the ward?
              </span>
              <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="personal_effects_yes" name="personal_effects" type="radio"
                    value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="personal_effects_yes">
                    Yes
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="personal_effects_no" name="personal_effects" type="radio"
                    value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="personal_effects_no">
                    No
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="personal_effects_unknown" name="personal_effects" type="radio"
                    value="unknown">
                  <label class="nhsuk-label nhsuk-radios__label" for="personal_effects_unknown">
                    Unknown
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="nhsuk-form-group nhsuk-form-group--hidden">
            <label class="nhsuk-label" for="personal_effects_details">
              Enter details below
            </label>
            <textarea class="nhsuk-textarea" id="personal_effects_details" name="personal_effects_details" rows="5"></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="nhsuk-section nhsuk-section--white">

  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">

      <h3>Bereaved or representative information</h3>

      <p>Enter information regarding the patient's bereaved family or representative handling their affairs.</p>

      <div id="representatives">
        <div class="representative" id="representative1">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="bereaved_name1">
                  Full name
                </label>
                <input class="nhsuk-input" id="bereaved_name1" name="bereaved_name1" type="text">
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="bereaved_relationship1">
                  Relationship
                </label>
                <input class="nhsuk-input" id="bereaved_relationship1" name="bereaved_relationship1" type="text">
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="bereaved_present_at_death1">
                  Present at death?
                </label>
                <div class="nhsuk-radios nhsuk-radios--inline">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="bereaved_present_at_death_yes1" name="bereaved_present_at_death1"
                      type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="bereaved_present_at_death_yes1">
                      Yes
                    </label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="bereaved_present_at_death_no1" name="bereaved_present_at_death1"
                      type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="bereaved_present_at_death_no1">
                      No
                    </label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="bereaved_present_at_death_unknown1" name="bereaved_present_at_death1"
                      type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="bereaved_present_at_death_unknown1">
                      Unknown
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="bereaved_number1">
                  Phone number
                </label>
                <input class="nhsuk-input" id="bereaved_number1" name="bereaved_number1" type="text">
              </div>
            </div>
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="bereaved_informed1">
                  Informed of death?
                </label>
                <div class="nhsuk-radios nhsuk-radios--inline">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="bereaved_informed_yes1" name="bereaved_informed1" type="radio"
                      value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="bereaved_informed_yes1">
                      Yes
                    </label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="bereaved_informed_no1" name="bereaved_informed1" type="radio"
                      value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="bereaved_informed_no1">
                      No
                    </label>
                  </div>
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="bereaved_informed_unknown1" name="bereaved_informed1" type="radio"
                      value="unknown">
                    <label class="nhsuk-label nhsuk-radios__label" for="bereaved_informed_unknown1">
                      Unknown
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" role="group">
                  <legend class="nhsuk-fieldset__legend">
                    Appointment date
                  </legend>
                  <div class="nhsuk-date-input">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="appointment1_day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="appointment1_day"
                          name="appointment1_day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="appointment1_month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="appointment1_month"
                          name="appointment1_month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="appointment1_year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="appointment1_year"
                          name="appointment1_year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <!-- <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="appointment1_time">
                          Time
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="appointment1_time"
                          name="appointment1_time" type="number" pattern="[0-9]*">
                      </div>
                    </div> -->
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="appointment_details">
                  Enter any additional details
                </label>
                <textarea class="nhsuk-textarea" id="appointment_details" name="appointment_details" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">
        <button data-duplicate-element=".representative" data-duplicate-from="#representative-template"
          data-duplicate-to="#representatives" class="nhsuk-button nhsuk-button--primary">
          Add another
        </button>
      </div>

    </div>
  </div>

</section>

<section>

  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">

      <h3>Request for rapid release</h3>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            Select a reason
          </legend>
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-third">
                <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-2">
                  <input class="nhsuk-checkboxes__input" id="request_faith_death" name="request" type="checkbox" value="british">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="request_faith_death">
                    Faith death
                  </label>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-third">
                <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-2">
                  <input class="nhsuk-checkboxes__input" id="request_coroner_case" name="request" type="checkbox" value="irish">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="request_coroner_case">
                    Coroner case
                  </label>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-third">
                <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-2">
                  <input class="nhsuk-checkboxes__input" id="request_child_death" name="request" type="checkbox" value="other">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="request_child_death">
                    Child death
                  </label>
                </div>
              </div>
            </div>
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-third">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="request_cultural_death" name="request" type="checkbox"
                    value="other">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="request_cultural_death">
                    Cultural death
                  </label>
                </div>
              </div>
              <div class="nhsuk-grid-column-one-third">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="request_other" name="request" type="checkbox" value="other">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="request_other">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="request_details">
              Enter any further relevant details
            </label>
            <textarea class="nhsuk-textarea" id="request_details" name="request_details" rows="5"></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<template id="representative-template">
  <div class="representative nhsuk-u-margin-top-6" id="representative{number}">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="bereaved_name{number}">
            Full name
          </label>
          <input class="nhsuk-input" id="bereaved_name{number}" name="bereaved_name{number}" type="text">
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="bereaved_relationship{number}">
            Relationship
          </label>
          <input class="nhsuk-input" id="bereaved_relationship{number}" name="bereaved_relationship{number}" type="text">
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="bereaved_present_at_death{number}">
            Present at death?
          </label>
          <div class="nhsuk-radios nhsuk-radios--inline">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bereaved_present_at_death_yes{number}" name="bereaved_present_at_death{number}"
                type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="bereaved_present_at_death_yes{number}">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bereaved_present_at_death_no{number}" name="bereaved_present_at_death{number}"
                type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="bereaved_present_at_death_no{number}">
                No
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bereaved_present_at_death_unknown{number}" name="bereaved_present_at_death{number}"
                type="radio" value="unknown">
              <label class="nhsuk-label nhsuk-radios__label" for="bereaved_present_at_death_unknown{number}">
                Unknown
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="bereaved_number{number}">
            Phone number
          </label>
          <input class="nhsuk-input" id="bereaved_number{number}" name="bereaved_number{number}" type="text">
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="bereaved_informed{number}">
            Informed of death?
          </label>
          <div class="nhsuk-radios nhsuk-radios--inline">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bereaved_informed_yes{number}" name="bereaved_informed{number}"
                type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="bereaved_informed_yes{number}">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bereaved_informed_no{number}" name="bereaved_informed{number}"
                type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="bereaved_informed_no{number}">
                No
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bereaved_informed_unknown{number}" name="bereaved_informed{number}"
                type="radio" value="unknown">
              <label class="nhsuk-label nhsuk-radios__label" for="bereaved_informed_unknown{number}">
                Unknown
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" role="group">
            <legend class="nhsuk-fieldset__legend">
              Appointment date
            </legend>
            <div class="nhsuk-date-input">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="appointment{number}_day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="appointment{number}_day"
                    name="appointment{number}_day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="appointment{number}_month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="appointment{number}_month"
                    name="appointment{number}_month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="appointment{number}_year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="appointment{number}_year"
                    name="appointment{number}_year" type="number" pattern="[0-9]*">
                </div>
              </div>
              <!-- <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="appointment{number}_time">
                    Time
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="appointment{number}_time"
                    name="appointment{number}_time" type="number" pattern="[0-9]*">
                </div>
              </div> -->
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
      <div class="nhsuk-grid-column-full">
        <button class="nhsuk-button nhsuk-button--secondary" data-remove-element="#representative{number}">
          Remove above
        </button>
      </div>
    </div>
  </div>
</template>