<!-- CASES -->
<div class="nhsuk-cases">
  <div class="nhsuk-case nhsuk-case--urgent">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Sylvia Matinez</div>
      <div class="nhsuk-case__header__dates">26.04.1923 - 26.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <span class="nhsuk-case__header__urgent">Urgent</span>
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains "/meo" %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
  <div class="nhsuk-case nhsuk-case--urgent">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Robin Turner</div>
      <div class="nhsuk-case__header__dates">27.06.1929 - 27.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <span class="nhsuk-case__header__urgent">Urgent</span>
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains '/meo' %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
  <div class="nhsuk-case nhsuk-case--urgent">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Latoya Gross</div>
      <div class="nhsuk-case__header__dates">16.07.1960 - 27.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <span class="nhsuk-case__header__urgent">Urgent</span>
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains '/meo' %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
  <div class="nhsuk-case">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Alonzo Carpenter</div>
      <div class="nhsuk-case__header__dates">29.09.1944 - 28.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains '/meo' %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
  <div class="nhsuk-case">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Miguel Fernandez</div>
      <div class="nhsuk-case__header__dates">15.08.1933 - 28.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains '/meo' %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
  <div class="nhsuk-case">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Cathy O'Leary</div>
      <div class="nhsuk-case__header__dates">13.02.1966 - 28.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains '/meo' %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
  <div class="nhsuk-case">
    <div class="nhsuk-case__header">
      <div class="nhsuk-case__header__name">Margarita Williamson</div>
      <div class="nhsuk-case__header__dates">17.11.1945 - 28.02.2019</div>
      <div class="nhsuk-case__header__actions">
        <div class="nhsuk-case__header__link">
          {# {% if page.url contains '/meo' %}
          <a href="/meo/patient-details">View Case</a>
          {% else %}
          <a href="/me/patient-details">View Case</a>
          {% endif %} #}
        </div>
        <div class="nhsuk-case__header__arrow">
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-case__content">
      {% include "alpha/includes/_case-content.html" %}
    </div>
  </div>
</div>
<!-- // CASES -->