<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <h3 class="nhsuk-case__content__header">Patient information</h3>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <dl class="nhsuk-case__content__data-list">
          <dt>D.O.B</dt>
          <dd><b>XX.XX.XXXX</b></dd>
        </dl>
        <dl class="nhsuk-case__content__data-list">
          <dt>D.O.D</dt>
          <dd><b>XX.XX.XXXX</b></dd>
        </dl>
        <dl class="nhsuk-case__content__data-list">
          <dt>T.O.D</dt>
          <dd><b>XX:XXpm</b></dd>
        </dl>
      </div>
      <div class="nhsuk-grid-column-one-half">
        <dl class="nhsuk-case__content__data-list">
          <dt>Last admission</dt>
          <dd><b>XX</b> days</dd>
        </dl>
        <dl class="nhsuk-case__content__data-list">
          <dt>NHS no.</dt>
          <dd><b>XXXXXXXX</b></dd>
        </dl>
        <dl class="nhsuk-case__content__data-list">
          <dt>Age</dt>
          <dd><b>XX</b></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <h3 class="nhsuk-case__content__header">Case information</h3>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <dl class="nhsuk-case__content__data-list">
          <dt>Appointment date</dt>
          <dd><b>XXXXXXXXX</b></dd>
        </dl>
        <dl class="nhsuk-case__content__data-list">
          <dt>Appointment time</dt>
          <dd><b>XX:XXpm</b></dd>
        </dl>
        <dl class="nhsuk-case__content__data-list">
          <dt>Case created</dt>
          <dd><b>X</b> days ago</dd>
        </dl>
      </div>
    </div>
  </div>
</div>