<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Medical Examiner Service - NHS</title>
    {% asset application.css %}
    {% asset nhsuk-1.0.1.min.js %}
    {% asset jquery-1.12.4.min.js %}
    {% asset jquery-validate-1.19.0.min.js %}
    {% asset moment.min.js %}
    {% asset selectric.js %}
    {% asset application.js %}
  </head>
  <body>